*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* creazione header */
body{
    background-color: lightblue;
}
.head{
    background-color: white;
    padding: 1% 1%;
}
#logotext{
    vertical-align: 10px;
    font-size: 50px;
}
/* creazione del contenitore */
.container{
    width: 80%;
    margin: 5% 10%;
    background-color: white;
    border-radius: 5px;
    height: 80%;
}
/* creazione dei bottoni */
button{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border-color: grey;
    color: grey;
}
button:hover{
    background-color: rgb(98, 168, 228) ;
    color: black;
}
.aline{
    margin: 20px 0 20px 40px;
}
/* creazione type */
.Editorial{
    background-color:rgb(98, 168, 228) ;
    padding: 4px;
    border-radius: 10px;
    color: white;
}
.Q1Goals{
    background-color:rgb(152, 118, 222);
    padding: 4px;
    border-radius: 10px;
    color: white;
}
.Recruting{
    background-color:rgb(124, 190, 170);
    padding: 4px;
    border-radius: 10px;
    color: white;
}
.Mobile{
    background-color:rgb(230, 162, 75);
    padding: 4px;
    border-radius: 10px;
    color: white;
}
.Website{
    background-color:rgb(203, 111, 163);
    padding: 4px;
    border-radius: 10px;
    color: white;
}
.Sales{
    background-color:rgb(179, 186, 125);
    padding: 4px;
    border-radius: 10px;
    color: white;
}
/* fine type */
.section{
    padding: 20px 20px;
}
p{
    line-height: 35px;
}
/* creazione spunte  */
h1::before{
    content: ' \25BC';
}
p::before{
    content: ' \2713';
    color: green;
    padding: 2px;
    border: 1px solid green;
    border-radius: 50%;
}
.neg::before{
    content: ' \10102';
    color: red;
    padding: 2px;
    border: 1px solid red;
    border-radius: 50%;
}